* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body.hidden {
  overflow: hidden;
}

section {
  padding: 1.8rem 18%;
}

section:nth-child(odd) {
  background-color: #2b2b2b;
}
section:nth-child(even) {
  background-color: #202020;
}

.heading {
  color: white;
  font-size: 2rem;
  text-align: center;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: #202020;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(17, 119, 255, 0.5);
}
html::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: #088F8F;
}

/*?======================== Preloader start ========================= */
.preloader {
  background-color: #202020;
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.preloader.hidden {
  transition: 1s;
  opacity: 0;
  transform: scale(2.5);
  visibility: hidden;
}
.preloader .loading {
  transform: scale(0.5);
}
.preloader .loading svg {
  width: 12em;
  height: 12em;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

/*?======================== Preloader end ========================= */

/*?======================== Navbar start =========================*/
nav {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}
a.logo {
  display: flex;
  text-decoration: none;
  margin-top: 5px;
}

nav .logo h4 {
  color: white;
  padding-left: 10px;
  line-height: 41px;
  /* font-family: 'Kalam', cursive; */

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Qwitcher Grypen', cursive; */
/* font-family: 'Tilt Prism', cursive; */
font-family: 'Zilla Slab', serif;
  font-size: 3em;
}

nav ul {
  display: flex;
  list-style: none;
  width: 15%;
  justify-content: space-between;
  line-height: 50px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
nav ul li a.active,
nav ul li a:hover {
  color: #159bd0;
  border-bottom: 0.2rem solid #088F8F;
  padding: 0.5rem 0;
}

.menu-toggle {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  width: 28px;
  height: 28px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
  transition: 0.5s;
}

/*? hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/*? responsive*/

@media screen and (max-width: 968px) {
  nav {
    bottom: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  ul li {
    width: 50%;
    text-align: center;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202020;
    z-index: -999;
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.2s linear, opacity 0.3s linear;
    border-radius: 20px;
    box-shadow: 0 0  #202020;
  }

  .menu-toggle {
    display: flex;
    margin-top: 15px;
  }
  nav ul.slide {
    transform: translateY(-90%);
    opacity: 1;
  }
}

/*?======================== Navbar end =========================*/

/*?======================== Home Start =========================*/
.home {
  min-height: 100vh;
  padding: 5rem 16%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home div.foto {
  flex: 1 1 40rem;
  z-index: 1;
}
.home div.foto img {
  width: 100%;
  margin-left: 33rem;
  margin-top: 4rem;
  border-radius: 50%;
  cursor: pointer;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
}
/* .home div.foto img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
} */

.home div.content {
  position: relative;
  width: 30%;
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home div.content h2 {
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  margin-top: -20rem;
}
.home div.content p {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  margin-top: -12rem;
}
.home div.content p span {
  color: white;
}
.home div.content a {
  font-weight: 600;
  position: absolute;
  margin-top: -8rem;
  position: absolute;
  line-height: 0;
  padding: 1.3rem 2.4rem;
  border-radius: 5em;
  transition: transform 0.3s, background 0.3s, color 0s;
  box-shadow: 0px 5px 18px rgba(32, 32, 32, 0.6);
}
.home div.content a span {
  font-size: 1rem;
}
.home div.content a.email {
  color: black;
  background: white;
}
.home div.content a.cv {
  color: #fff;
  background: #4e4e4e;
  margin-left: 9.5rem;
}
.home div.content a:hover {
  transform: scale(1.1);
  color: #088F8F;
  background: white;
}

/*? responsive*/
@media screen and (min-width: 568px) {
  .home div.foto img {
    width: 40%;
    margin: 0rem 50% auto;
  }}

@media screen and (max-width: 568px) {
  .home {
    height: 10vh;
  }
  .home div.foto img {
    width: 70%;
    margin: 10rem 18% auto;
    
  }
  .home div.content {
    margin-left: 1%;
    margin-top: 30rem;
    margin-bottom: 10rem;
  }
  .home div.content h2 {
    font-size: 3.4rem;
  }
  .home div.content p {
    margin-top: -6rem;
    font-size: 2rem;
  }
  .home div.content a {
    margin-top: -13rem;
    padding: 1rem;
  }
  .home div.content a.cv {
    margin-left: 30%;
  }
}

/*?======================== Home end =========================*/

/*?======================== About start =========================*/
/* Import Google Font */
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);


/* Style the tabs */
.tabs {
    margin-bottom: 28px; 
    display: flex;
      justify-content: space-between;
}

.tabs a {
    cursor: pointer;
    padding: 12px 12px;
    width: 140px;
    text-align: center;
    font-weight: bold;
    border-radius: 18px;
    transition: background 0.1s, color 0.1s;
    background: linear-gradient(145deg, #ffffff, #dcdcdc);
    box-shadow:  3px 3px 5px #bebebe, 
                 -3px -3px 5px #ffffff;
}
.tabs a {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background: linear-gradient(145deg, #f4f4f4, #cecece);
    color: #888;
}
.tabs a:hover {
    background: #141414;
    color: #bbb;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #f4f4f4;
    color: #bdbdbd;
    cursor: default;
    padding: 14px 22px 10px 26px;
    background: #f4f4f4;
    box-shadow: inset 3px 3px 5px #cbcbcb, 
                inset -3px -3px 5px #ffffff;
}
.tabs a.active {
    background: #1A1B1F;
    box-shadow: inset  3px 3px 6px #101114, 
                inset -3px -3px 6px #24252a; 
    color: #6a6a6a;
}


/* Style the tab content */
.tabcontent {
    padding: 46px;
    min-height: 288px;
    display: none;    
    border-radius: 18px;
    background: #f4f4f4;
    box-shadow:  3px 3px 6px #bebebe, 
                 -3px -3px 6px #ffffff;
}
.tabcontent {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
}
.content .active {
    display: block;
}
.tabcontent p {
    margin-bottom: 12px;
}
.tabcontent p:last-child {
    margin-bottom: 0;
}
.tabcontent .read-more-link a {
    color: #626262;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
}
.tabcontent .read-more-link a {
    color: #d4d4d4;
}
.icon {
    padding-left: 8px;
    font-size: 16px;
}


/*==============================*/
.small-screen {
    display: none;
    background-color: #f4f4f4;
    height: 100vh;
    color: #a2a2a2;
    font-family: "Poppins",sans-serif;
}
.darkmode .small-screen {
    background-color: #1A1B1F; 
    color: #8a8a8a;
}
.small-screen-content {
    width: 70%;
    margin: auto;
}

:root {
  /* Colors
  ____________________*/
  --color-primary: #159bd0;
  --color-primary-dark: #159bd0;
  --color-bg-primary: #DCDCDC;
  --color-bg-secondary: #242424;
  --color-bg-footer: #151515;
  --color-white: #ffffff;
  --color-text: #676767;
  --color-border: #373737;

  /* Font & Typography
  ___________________*/
  --ff-body: "Poppins", sans-serif;
  /* font sizes */
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 3.2rem;
  --fs-biggest: clamp(3rem, 8vw, 5rem);
  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* z-index
  ___________________*/
  --zindex-menu: 1000;
  --zindex-fixed: 1010;

  /* With & Height 
  ------------------*/
  --width-container: 98rem;
  --height-header: 10rem;
  --height-header--scroll: 8rem;

  /* Transition and box shadow*/
  --transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* CSS Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
  
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

main {
  overflow: hidden;
}

body {
  background-color: var(--color-bg-primary);
  font-family: var(--ff-body);
  font-size: var(--fs-md);
  color: var(--color-text);
  
  line-height: 1.2;
}

/* Reusable CSS
--------------------------------------------------------------*/
.container {
  width: 90%;
  max-width: var(--width-container);
  margin: auto;
  margin-bottom: 30px;
}

.section {
  padding: 5rem 0;
}

.section__header {
  margin: 8rem 0;
  text-align: center;
}

.section__title {
  font-size: var(--fs-xl);
  margin-bottom: 0.5rem;
}

.section__subtitle {
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  position: relative;
}

.section__subtitle::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0.5rem;
  background-color: var(--color-primary);
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.d-grid {
  display: grid;
  gap: 3rem;
}

.btn {
  text-align: center; /* Center-align text content */
  display: block; /* Make it a block-level element to center it horizontally */
  margin: 0 auto;
  display: inline-block;
  padding: 1.5rem 4rem;
  color: var(--color-white);
  font-weight: var(--fw-semibold);
  transition: var(--transition);
  
}

.btn--primary {
  
  background-color: grey;
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: #99aeff;
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-bg-primary);
}

.btn--secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Qualification
--------------------------------------------------------------*/
.qualification__wrapper {
  margin-bottom: 5rem;
}

.qualification__content {
  row-gap: 5rem;
}

.qualification__name {
  display: flex;
  column-gap: 1rem;
  font-size: var(--fs-lg);
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.qualification__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  margin-bottom: 1rem;
}

.qualification__description {
  margin-bottom: 2rem;
}

.qualification__date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.qualification__footer {
  border-top: 1px solid var(--color-border);
  margin-top: 10rem;
  padding-top: 4rem;
  text-align: center;
}



/* Services
--------------------------------------------------------------*/
/* .service__card {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 5rem 3.5rem;
  width: 100%;
  max-width: 30rem;
  justify-self: center;
  transition: var(--transition);
}

.service__card:hover {
  background-color: var(--color-primary);
}

.service__card:hover .service__link {
  color: var(--color-white);
}

.service__icon {
  font-size: 3.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.service__title {
  font-size: var(--fs-lg);
  margin-bottom: 3rem;
} */

/* Projects
--------------------------------------------------------------*/
.project__content {
  width: 100%;
  max-width: 30rem;
  justify-self: center;
}

.project__img {
  margin-bottom: 2rem;
}

.project__title {
  color: var(--color-white);
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
}

.project__description {
  margin-bottom: 2rem;
}

.project__link {
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: var(--transition);
}

.project__link:hover {
  color: #159bd0;
  column-gap: 1rem;
}

/* Footer
--------------------------------------------------------------*/
.footer {
  background-color: #233555;
  padding: 5rem 0;
}

.footer__wrapper {
  border-bottom: 1px solid var(--color-bg-secondary);
  padding: 5rem 0;
  gap: 5rem;
}

.footer__title {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
}

.footer__social-list {
  display: flex;
  gap: 3rem;
}

.footer__social-link {
  font-size: 2rem;
  color: var(--color-white);
  transition: var(--transition);
}

.footer__contact {
  font-size: var(--fs-lg);
  color: var(--color-white);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  transition: var(--transition);
}

.footer__social-link:hover,
.footer__contact:hover {
  color: var(--color-primary);
}

.footer__copyright {
  font-size: var(--fs-sm);
  text-align: center;
  padding-top: 3rem;
} 

/* Breakpoints
--------------------------------------------------------------*/

/* Medium devices*/
@media screen and (min-width: 560px) {
  .service__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .qualification__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__footer {
    text-align: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qualification__footer-text {
    margin: 0;
  }

  .project__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__content {
    text-align: initial;
  }

  .hero__title::after {
    transform: none;
    left: 0;
  }

  .hero__info {
    justify-content: initial;
  }

  .hero__img {
    justify-self: flex-end;
  }
}

/* Large devices */

@media screen and (min-width: 968px) {
  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__content {
    margin: 0;
  }

  .about__content,
  .skills__title {
    text-align: initial;
  }

  .qualification__content,
  .service__wrapper,
  .project__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    margin: 0;
    text-align: initial;
  }

  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*?======================== About end =========================*/

/*?======================== Skills start =========================*/



/*?======================== Skills end =========================*/

/*?======================== Project start =========================*/
/* work section starts */

/*?======================== Project end =========================*/

/*?======================== Footer start =========================*/


footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #159bd0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 3.1rem;
  width: 40px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}



@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;

    margin-top: 10px;

    margin-bottom: 20px;

    text-align: center;
  }
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 968px) {
  section.footer {
    min-height: 72vh;
  }
  .footer .box-container .box.right {
    left: 0;
  }
}
@media (max-width: 568px) {
  section.footer {
    padding: 1.8rem 0%;
    min-height: 72vh;
  }
  .footer .box-container .box h3 {
    margin-left: 10px;
  }
  .footer .box-container .box {
    margin: 1rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
}
/*?======================== Footer end =========================*/

